:root {
    background-color: #181a1b;
    color: rgb(232 232 232);
    padding-left: 15%;
    padding-top: 5%;
}

a {
    color: #4478b9;
}

a:visited {
    color: #295b99;
}

div {
    padding: 10px;
}

span {
    font-size: 26px;
}

#resume {
    font-size: 24px;
}


#introHeader {
    font-size: 30px;
}

ul {
    padding: 5px;
    list-style-type:none;
}

/* typewriter animation adapted from: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriterA {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
}

.typewriterB {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(20, end);
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
    
}

.typewriterC {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .10em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
  
.typewriterD {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.typewriterE {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 7s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.typewriterF {
    overflow: hidden;    
    white-space: nowrap;    
    margin: 5px;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 10s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.typewriterG {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 12s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.typewriterH {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 12s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.typewriterI {
    overflow: hidden;    
    white-space: nowrap;    
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
    animation-delay: 18s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0 }
    from { visibility: hidden }
    to { width: 90% }
    to { visibility: visible }
}